* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, lightgreen, lightseagreen);
}
.container {
  width: 80%;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.mycontainer {
  background-color: rgb(173, 216, 233);
  width: 95%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.637) 0px 3px 8px;
}
.alert {
  font-size: 15px;
  padding: 3px 3px 0px 3px;
  background: lightcoral;
  text-align: center;
  border: 1px solid red;
  border-radius: 15px;
}
.heading {
  padding: 0px 10px 10px 10px;
  font-family: cursive;
  text-decoration: underline;
}
.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
label {
  width: 30%;
}
input {
  width: 70%;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  margin: 10px;
  width: 100%;
  cursor: pointer;
}
li {
  width: 100%;
  list-style-type: none;
  margin: 8px;
}
.list-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  align-items: center;
  padding: 5px;
}
.btn-danger {
  margin: 0;
  width: 50%;
}
.hide {
  visibility: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
.mybtn-trash {
  width: 20%;
  color: lightcoral;
  border: transparent;
  background: transparent;
}
i {
  pointer-events: none;
}
.image {
  width: 100px;
  border-radius: 50%;
  border: 1px solid black;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(202, 235, 248);
}
.biglist-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.single-product {
  height: 350px;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(202, 235, 248);
}
.product-image {
  height: 200px;
  width: 80%;
}
ul {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  font-weight: 500;
  color: white;
  padding: 10px;
  font-size: 25px;
}
a:hover {
  color: goldenrod;
}
.a-learnmore {
  color: blue;
  font-size: 18px;
  font-weight: 100;
}
.a-learnmore:hover {
  color: black;
}
.counter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
.biglist {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  text-align: center;
}
@media only screen and (min-width: 700px) {
  .container {
    width: 60%;
  }
  .single-product {
    width: 40%;
  }
}
